<a name="plan"></a>

[<img width="100%" src="../img/Basics.svg"></img>](#plan)

# 1. <a id="Loops"></a>Loops
```Python
# The FOR loop:
for x in my_iterable_object:
    print(x)

# The WHILE loop:
i = 0
while i < 5:
    print(i**2)
    i = i + 1
```

You've probably familiar with the `if... else` statements.  
Note that in python you can also add the `else` statement in `for` and `while` loops.  
Use `break` to get out of the loop, use `continue` to skip the current iteration.

# 2. <a id="BasicTypes"></a>Basic types

## 2.1. Booleans

Important thing to note here is that in Python, the boolean `True` is (for all intents and purposes) "the same" as integer `1`, and similarily:

In [1]:
False == 0

True

### Basic logic operations

We have (in order of priority) 
```Python
not
and
or
```

In [2]:
# The removal of which parenthesis doesn't change the following expression?
(True and False) or not (True and False)

True

In [3]:
type(True)

bool

In [4]:
bool(5)

True

In [5]:
if 'not empty': # non-zero number, not empty list, etc.
    print("hello")

hello

## 2.2. Numerical

`int`, `float`, `complex`

In [6]:
3+2j - 4.2

(-1.2000000000000002+2j)

In [7]:
print(f"This is the memory value of your float:\n{4.2:.50f}")

This is the memory value of your float:
4.20000000000000017763568394002504646778106689453125

For more information on why is this the case, visit https://docs.python.org/3/tutorial/floatingpoint.html  
In short, it's the consequence of your machine being bound to translate everything into binary, and in binary code 0.1 is infinite decimal, so it must inevitably be rounded somewhere.

In [8]:
# This cell should be revisited after learning about lists
sum([0.1] * 10) == 1

False

In [9]:
0.1.as_integer_ratio()

(3602879701896397, 36028797018963968)

In [10]:
float('2')

2.0

In [11]:
'3'.isnumeric()

True

### Operations

In [12]:
9**2

81

In [13]:
14//4 # integer result of the division

3

In [14]:
14%4 # modulo

2

In [15]:
my_nb = 14
my_div = 4
print(f'{my_nb} is equal to {my_nb // my_div} x 4 + {my_nb % my_div}')

14 is equal to 3 x 4 + 2

In [16]:
1.0 * 5

5.0

## 2.3. Strings
```Python
this_is_string = 'whatever'
this_is_also_a_string = "it's now or never"
this_is_docstring = '''This may spread over
                        multiple lines.
                        Usually used at the beggining of a function definition,
                        to explain what your function does.'''
```
If you want to combine variables with text, then the "f-strings" are the way.
```Python
my_variable = 18
also_a_string = f"My contract ends in {my_variable} months. I don't have time to learn Python."
```

# 3. <a id="Sequences"></a>Sequences
```Python
range
tuple
list
```

## 3.1. Tuple
**Immutable**

Elements can be of heterogenous types.

In [17]:
my_tuple = (4, (3, 'r', 5.2, 'klh', 4), 1e4, 'last')

Basic indexing:  
  - **starts with 0**  
  - slices
  - steps

In [18]:
my_tuple[1][:3]

(3, 'r', 5.2)

In [19]:
# But, you can't do:
my_tuple[[1,2]]

TypeError: tuple indices must be integers or slices, not list

In [20]:
# Unless:
from operator import itemgetter

g = itemgetter(1,2)
g(my_tuple)

((3, 'r', 5.2, 'klh', 4), 10000.0)

In [21]:
extended_tuple = my_tuple + (3, 4)
extended_tuple

(4, (3, 'r', 5.2, 'klh', 4), 10000.0, 'last', 3, 4)

In [22]:
3 * my_tuple

(4,
 (3, 'r', 5.2, 'klh', 4),
 10000.0,
 'last',
 4,
 (3, 'r', 5.2, 'klh', 4),
 10000.0,
 'last',
 4,
 (3, 'r', 5.2, 'klh', 4),
 10000.0,
 'last')

In [23]:
# But, since immutable:
my_tuple[1] = 'new value'

TypeError: 'tuple' object does not support item assignment

In [24]:
len(extended_tuple)

6

In [25]:
extended_tuple.index(4)#count(4)

0

## 3.2. Range

In [26]:
# range is like a "lazy tuple" used for counting:
for i in range(5):
    print(i**2)

0
1
4
9
16

## 3.3. List
**Mutable**

In [27]:
my_list = ['lh', [4, 5, 3, 3, 3], 4e4]

In [28]:
my_list[1][-1] = 'new value'
my_list

['lh', [4, 5, 3, 3, 'new value'], 40000.0]

In [29]:
my_list = list(range(5, 100, 5))
my_list

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [30]:
my_list[-2:2:-2]

[90, 80, 70, 60, 50, 40, 30, 20]

## Strings revisited
Strings are also lists

In [31]:
my_string = 'Whatever'

In [32]:
for i,letter in enumerate(my_string):
    print(i, letter)

0 W
1 h
2 a
3 t
4 e
5 v
6 e
7 r

In [33]:
# Slicing:
my_string[-4:]

'ever'

In [34]:
my_string.index('v')

5

In [35]:
my_string = "Let's have a complete phrase,\nwith newlines and all."
print(my_string)

Let's have a complete phrase,
with newlines and all.

In [36]:
my_string.split()

["Let's",
 'have',
 'a',
 'complete',
 'phrase,',
 'with',
 'newlines',
 'and',
 'all.']

In [37]:
my_string.split('\n')

["Let's have a complete phrase,", 'with newlines and all.']

In [38]:
my_string = my_string.replace("'s", " us")
print(my_string)

Let us have a complete phrase,
with newlines and all.

## Bonus: Generators

In [39]:
# Another kind of sequence(?) - generators:
my_gen = (2**i for i in range(2, 4**5))
type(my_gen)

generator

In [40]:
import sys
print(f"{'generator memory size:':<25s} {sys.getsizeof(my_gen):>5d}"
      "\nvs\n"
      f"{'list memory size:':<25s} {sys.getsizeof(list(my_gen)):>5d}")

generator memory size:      112
vs
list memory size:          8536

In [41]:
# Run this cell multiple times (using Ctrl+Enter)
next(my_gen)

StopIteration:

## 3.4. List comprehensions

A very succint and convinient way of creating new lists from an existing iterable

The same way we did for creating the generator, only this time we use the square brackets "[]"
```Python
my_cool_list = [f(x) for x in my_iterable]
```
Create the new list only from elements satifying given condition (filtered iterable):
```Python
my_cool_list = [f(x) for x in my_iterable if condition(x)]
```
**BUT!:** To cover all the cases (condition satisfied or not):
```Python
my_cool_list = [f(x) if condition(x) else g(x) for x in my_iterable]
```
If you want to complicate further:
```Python
my_cool_list = [f(x) if condition1(x) else g(x) for x in my_iterable if condition2(x)]
```

_There is also the possiblity to loop through two iterables, but have mercy on those who'll read that code.  
Hint for the egoists: it may be the 1 year older version of yourself_

## 3.5. Dictionaries & Sets
### Dictionary
A verastile container whose items are of the form key -> value. For each key there is a value; keys must be immutable, values can be of any type.  
_Each key is separated from its value by a colon `:`, the items are separated by commas `,`, and the whole thing is enclosed in curly braces `{}`. An empty dictionary without any items is written with just two curly braces, like this: `{}`._

For more info, see for example : https://www.tutorialspoint.com/python/python_dictionary.htm

In [15]:
# The keys are unique
my_dict = {"strawberry": "red", "apple": "green", "apple": "red",
          "banana": "yellow", 1: ["number", "integer", True],
           ("Latitude", "Longitude"): (42.439516, 18.624840)}

In [16]:
my_dict["apple"]

'red'

In [17]:
my_dict["location"]

KeyError: 'location'

In [19]:
my_dict.get("location", (48.913021, 2.369157))

(48.913021, 2.369157)

In [20]:
my_dict[45] = 34.33

In [37]:
for k, v in my_dict.items():
    print(f"{str(k):-<40s}> {v}")

strawberry------------------------------> red
apple-----------------------------------> red
banana----------------------------------> yellow
1---------------------------------------> ['number', 'integer', True]
('Latitude', 'Longitude')---------------> (42.439516, 18.62484)
45--------------------------------------> 34.33

### Set
Keeps only unique elements, order is unpredictable?  
Further reading: https://realpython.com/python-sets/

# 4. <a id="Functions"></a>Functions 
Everything is an object

In [ ]:
def my_first_function():
    print("Bonjour !")

In [ ]:
my_first_function()

In [ ]:
def my_func(n):
    for i in range(n):
        my_first_function()

In [ ]:
my_func(5)

In [ ]:
def calculate_hypothenuse(cathete1, cathete2):
    hypothenuse = (cathete1**2 + cathete2**2)**(1/2)
    return hypothenuse

In [ ]:
calculate_hypothenuse(3, 4)

------------
# 5. <a id="Exercises"></a>Exercises

### EX.1. Bool:
Find the number of students with notes bigger then 16.

In [ ]:
import random # Example of a standard library module

# The list of student's grades
# (integers from 0 to 20 for 200 students):
grades_list = [random.randint(0, 20) for i in range(200)]

In [ ]:
# Run this cell to see the histogram
%run "../snippets/student_notes_histogram.py" {' '.join(map(str, grades_list))}

In [ ]:
# Your solution:

Run the next cell (twice) to see the solution:

In [ ]:
%load "../snippets/solutions/Ch1Ex1.py"

### EX.2. List comprehension  
Increase by 1 the grade of each student if it's smaller then 20, otherwise leave it at 20

In [ ]:
# Your solution:

Run this next cell (twice) to see the solution

In [ ]:
%load "../snippets/solutions/Ch1Ex2.py"

In [ ]:
# Run this cell to see the histogram
%run "../snippets/student_notes_histogram.py" {' '.join(map(str, increased_grades_LC))}

**Bonus** - The same example in numpy

In [ ]:
import numpy as np # import numpy

grades_arr = np.array(grades_list) # Transform the list into a numpy array

In [ ]:
grades_arr[grades_arr < 20] += 1 # That's all :)

### EX. 3. String manipulation

In [ ]:
' '.join([word.capitalize() for word in my_string.split()])

Try to do the same as above, but capitalize only the last letter of each word.

In [ ]:
# Your solution:

In [ ]:
%load "../snippets/solutions/BackwardCapitalization.py"

### EX. 4. Fibonacci sequence

Write a function that displays the n first terms of the Fibonacci sequence, defined by:

$ u_0 = 1; u_1 = 1$

$u_{n+2} = u_{n+1} + u_n$